@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #262626;
  scroll-behavior: smooth;
}

body {
  background: whitesmoke;
  line-height: 1.4;
  margin: 0;
  height: auto;
  overflow-x: hidden;
}

.wrapper {
  margin: auto;
  -webkit-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
  position: relative;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #7d7d7d solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #262626;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transition-property: background, color, border-color;
  transition-property: background, color, border-color;
}

.btn:hover {
  background: #262626;
  color: whitesmoke;
  border-color: #262626;
}

.toggle .line-1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.nav {
  z-index: 2;
  width: 100%;
  height: 5vh;
  position: fixed;
  background: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .hamburger {
  cursor: pointer;
  margin-left: 10px;
}

.nav .hamburger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background: whitesmoke;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav .nav-links {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  list-style: none;
  background: #262626;
  width: 100%;
  margin: 0;
  padding: 0;
  height: calc(95vh + 1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav .nav-links a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
}

.nav .nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header {
  padding: 1.5rem;
  text-align: center;
  background: #262626;
  color: whitesmoke;
}

.header h2 {
  border-left: dotted 1px whitesmoke;
  border-right: dotted 1px whitesmoke;
  display: inline-block;
  padding: 0 1rem;
}

.landing {
  background: #fff;
}

.landing .landing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40vw;
          flex: 0 1 40vw;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.landing .landing-text h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

.landing .landing-text h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
  color: #7d7d7d;
}

.landing .landing-image {
  background: url("../img/devices.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60vw;
          flex: 0 1 60vw;
  margin: 0;
}

.skills .container {
  padding: 1.5rem 1rem;
  text-align: center;
}

.skills .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .container .cards .card {
  padding: 0.8rem;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skills .container .cards .card h3 {
  margin: 1rem 0;
}

.skills .container .cards .card .icon {
  height: 128px;
  width: 112px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .container .cards .card img {
  width: 100%;
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.images {
  /* img {
    display: block;
    width: 33%;
    padding: 0;
  } */
}

.images .images-content {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.images .images-content a {
  width: 100%;
  height: 100%;
}

.images .images-content img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.images .images-content #socialape-img {
  position: relative;
  cursor: pointer;
}

.images .images-content #socialape-img::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  content: 'Social Media Platform';
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.276);
  color: whitesmoke;
}

.images .images-content #socialape-img:hover::before {
  opacity: 1;
}

.images .images-content #spotify-img {
  position: relative;
  cursor: pointer;
}

.images .images-content #spotify-img::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  content: 'SpotifyQuiz';
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.276);
  color: whitesmoke;
}

.images .images-content #spotify-img:hover::before {
  opacity: 1;
}

.images .images-content #chatter-img {
  position: relative;
  cursor: pointer;
}

.images .images-content #chatter-img::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  content: 'Live Chatt App';
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.276);
  color: whitesmoke;
}

.images .images-content #chatter-img:hover::before {
  opacity: 1;
}

.images .caption {
  padding: 0.8rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: whitesmoke;
  background: #262626;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

.js-icon {
  background: -webkit-gradient(linear, left top, right bottom, from(#ffea00), to(#fabc00));
  background: linear-gradient(to right bottom, #ffea00, #fabc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.html-icon {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff4444), to(#6c0000));
  background: linear-gradient(to right bottom, #ff4444, #6c0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.css-icon {
  background: -webkit-gradient(linear, left top, right bottom, from(#7d7dff), to(#001945));
  background: linear-gradient(to right bottom, #7d7dff, #001945);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-icon {
  color: #00b7cb;
}

.angular-icon {
  color: #cb0000;
}

.sass-icon {
  color: #ac00bf;
}

.node-icon {
  color: #00a700;
}

.python-icon {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff975f), to(#d85e00));
  background: linear-gradient(to right bottom, #ff975f, #d85e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 500px) {
  .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .landing .landing-text {
    height: 100vh;
  }
  .landing .landing-image {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 1rem 3rem;
  }
  .skills .container .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .images .images-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 1024px;
    overflow-x: hidden;
  }
  .wrapper .nav {
    width: 1024px;
  }
  .wrapper .nav .hamburger {
    display: none;
  }
  .wrapper .nav .nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 0;
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .wrapper .nav .nav-links a {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */