@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: $dark;
  scroll-behavior: smooth;
}

body {
  background: $light;
  line-height: 1.4;
  margin: 0;
  height: auto;
  overflow-x: hidden;
}

.wrapper {
  //max-width: 900px;
  margin: auto;
  box-shadow: $shadow;
  position: relative;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px $primary solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: $dark;
  transition: all 500ms ease;
  transition-property: background, color, border-color;

  &:hover {
    background: $dark;
    color: $light;
    border-color: $dark;
  }
}

.toggle {
  .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .line-2 {
    opacity: 0;
  }
  .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
.nav {
  z-index: 2;
  width: 100%;
  height: 5vh;
  position: fixed;
  background: $dark;
  display: flex;
  align-items: center;
  .hamburger {
    cursor: pointer;
    margin-left: 10px;
    div {
      width: 25px;
      height: 3px;
      margin: 5px;
      background: $light;
      border-radius: 5px;
      transition: all 0.4s ease;
    }
  }

  .nav-links {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    list-style: none;
    background: $dark;
    width: 100%;
    margin: 0;
    padding: 0;
    height: calc(95vh + 1px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    a {
      text-decoration: none;
      color: $light;
      font-size: 1.5rem;
    }
  }

  .nav-active {
    transform: translateX(0);
  }
}
.header {
  padding: 1.5rem;
  text-align: center;
  background: $dark;
  color: $light;

  h2 {
    border-left: dotted 1px $light;
    border-right: dotted 1px $light;
    display: inline-block;
    padding: 0 1rem;
  }
}

.landing {
  background: #fff;

  .landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;

    h1 {
      font-weight: 400;
      font-size: 2.5rem;
      text-transform: uppercase;
      margin: 0;
    }
    h2 {
      font-weight: 400;
      font-size: 1.2rem;
      text-transform: capitalize;
      margin: 0;
      color: $primary;
    }
  }

  .landing-image {
    background: url('../img/devices.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
  }
}

.skills {
  .container {
    padding: 1.5rem 1rem;
    text-align: center;

    .cards {
      //margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .card {
        padding: 0.8rem;
        text-align: center;
        flex: 1;

        h3 {
          margin: 1rem 0;
        }

        .icon {
          height: 128px;
          width: 112px;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

.images {
  .images-content {
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    a {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    #socialape-img {
      position: relative;
      cursor: pointer;

      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        content: 'Social Media Platform';
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.276);
        color: $light;
      }
      &:hover::before {
        opacity: 1;
      }
    }

    #spotify-img {
      position: relative;
      cursor: pointer;

      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        content: 'SpotifyQuiz';
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.276);
        color: $light;
      }
      &:hover::before {
        opacity: 1;
      }
    }
    #chatter-img {
      position: relative;
      cursor: pointer;

      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        content: 'Live Chatt App';
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.276);
        color: $light;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }
  /* img {
    display: block;
    width: 33%;
    padding: 0;
  } */

  .caption {
    padding: 0.8rem;
    text-align: center;
  }
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: $light;
  background: $dark;

  h3 {
    font-size: 3rem;
    margin-bottom: 0;
  }
}

.js-icon {
  //color: rgb(227, 208, 0);
  background: linear-gradient(
    to right bottom,
    rgb(255, 234, 0),
    rgb(250, 188, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.html-icon {
  //color: rgb(203, 0, 0);
  background: linear-gradient(
    to right bottom,
    rgb(255, 68, 68),
    rgb(108, 0, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.css-icon {
  //color: rgb(0, 0, 203);
  background: linear-gradient(
    to right bottom,
    rgb(125, 125, 255),
    rgb(0, 25, 69)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-icon {
  color: rgb(0, 183, 203);
}

.angular-icon {
  color: rgb(203, 0, 0);
}

.sass-icon {
  color: rgb(172, 0, 191);
}

.node-icon {
  color: rgb(0, 167, 0);
}

.python-icon {
  //color: rgb(220, 103, 0);
  background: linear-gradient(
    to right bottom,
    rgb(255, 151, 95),
    rgb(216, 94, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 500px) {
  .landing {
    display: flex;
    height: 100%;

    .landing-text {
      height: 100vh;
    }

    .landing-image {
      height: 100vh;
    }
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 1rem 3rem;
  }
  .skills {
    .container {
      .cards {
        flex-direction: row;
      }
    }
  }
  .images {
    .images-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 1024px;
    overflow-x: hidden;

    .nav {
      width: 1024px;

      .hamburger {
        display: none;
      }
      .nav-links {
        flex-direction: row;
        justify-content: space-evenly;
        height: 0;
        position: static;
        transform: translateX(0);

        a {
          font-size: 1rem;
        }
      }
    }
  }
}
